.page {
min-width: 1100px;
max-width: 1600px;
font-family: Inter, arial, sans-serif;
font-size: 16px;
line-height: 20px;
margin: 0 auto;
}

.header {
    padding: 30px 80px 40px;
}

.header__image {
    width: 646px;
    height: 568px;
    position: absolute;
    top: 124px;
    right: 5px;
}
.header__title {
  max-width: 729px; 
}

.nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -50px;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav__logo {
    position: relative;
    width: 105px;
    height: 39px;
}